.blur {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(100px);
    width: 1024px;
    height: 640px;
}
.background {
    position: absolute;
    width: calc(100% - 20px);
    right: 10px;
    left: 10px;
    border-radius: 23px;
    background-color: #f5d500;
    height: 227px;
}
.background1 {
    position: absolute;
    width: calc(100% - 20px);
    right: 10px;
    left: 10px;
    border-radius: 23px;
    background-color: #397488;
    height: 439px;
}
.backgroundshadow-child {
    position: absolute;
    top: 5px;
    left: 8px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 26px;
    height: 26px;
}
.answer-text {
    position: absolute;
    top: 5px;
    left: 47px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 268px;
    height: 27px;
}
.backgroundshadow {
    width: 328px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.49);
    border-radius: 23px;
    background-color: #d6eef5;
    height: 37px;
    overflow-y: auto;
    flex-shrink: 0;
}
.backgroundshadow-parent {
    position: absolute;
    width: calc(100% - 82px);
    top: 345px;
    right: 40px;
    left: 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
}
.questa-bira {
    position: absolute;
    top: 93px;
    left: 42px;
    font-size: 18px;
    line-height: 21.79px;
    font-family: 'Lucida Sans Typewriter';
    text-align: left;
    display: flex;
    align-items: center;
    width: 320px;
    height: 148px;
}
.conferma {
    position: absolute;
    top: 15px;
    left: calc(50% - 57.75px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115.9px;
    height: 26px;
}
.button {
    position: absolute;
    top: 750px;
    left: 108px;
    box-shadow: 0px 3px 0px #397488;
    border-radius: 30px;
    background-color: #f5d500;
    width: 195.5px;
    height: 56px;
    color: #397488;
}
.b {
    position: absolute;
    top: 6.5px;
    left: calc(50% - 6.1px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.6px;
    height: 22px;
}
.button1 {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    background-color: #f5d500;
    border: 3px solid #397488;
    box-sizing: border-box;
    width: 38.2px;
    height: 36px;
    font-size: 20px;
    color: #397488;
    font-family: Arial;
}


body {
    margin: 0;
    line-height: normal;
}

.giuliosmedilegithubio-by-htm {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 640px;
    background-color: #f5d500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}