body {
  background-color: rgb(68, 68, 68);
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  background-size: cover;
  background-position: center;
  background-size: 100%;
}

.Wireframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Rectangle1 {
  width: 390px;
  height: 400px;
  left: 10px;
  top: 50px;
  position: absolute;
  background-color: rgba(245, 213, 0);
  border-radius: 23px;
}

.Rectangle2 {
  width: 390px;
  height: 270px;
  left: 10px;
  top: 470px;
  position: absolute;
  background: #397488;
  border-radius: 23px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.Frame2 {
  width: 314px;
  height: 126px;
  top: 491px;
  left: 38px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Tile {
  width: 94px;
  height: 94px;
  top: 7px;
  left: 6px;
  position: relative;
}

.Tile_top {
  width: 94px;
  height: 94px;
  top: 12px;
  position: relative;
}

.Rectangle {
  width: 94px;
  height: 94px;
  left: 0px;
  top: 0px;
  background: #d6eef5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.493);
  border-radius: 23px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.Rectangle .Image {
    height: 100%;
    width: 100%;
    border-radius: 23px;
}

.Rectangle:focus {
  /* transform: scale(1.05); */
  outline: 4px solid #6c919d;
}

.Rectangle:hover {
  /* transform: scale(1.05); */
  background-color: #7faab8b3;
}

.Rectangle_top {
  width: 94px;
  height: 94px;
  left: 240px;
  top: 0px;
  position: absolute;
  background: #F0F0F0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}

.Frame3 {
  width: 368px;
  height: 464px;
  padding: 10px;
  left: 22px;
  top: 50px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: inline-flex;
}

.DoubleSelector {
  width: 347px;
  height: 100px;
  position: relative;
}

.Verse {
  width: 200px;
  left: 7px;
  top: 13px;
  position: absolute;
  color: black;
  font-size: 12px;
  font-family: 'JMH Typewriter', sans-serif;
  font-weight: 400;
  line-height: 21.79px;
  word-wrap: break-word;
}


/* CONFIRM BUTTON */
.confirm-button {
  display: inline-block;
  background-color: rgba(245, 213, 0);
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(750px);

  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #397488;

  box-shadow: 0 3px 0 #397488;
  cursor: pointer;
  transition: all 100ms linear;
  
  /* &:hover {
      transform: translateX(-50%) translateY(750px);
      box-shadow: 0 7px 0 #397488;
  } */

  &:focus { outline: 0; }
}

#hint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(28, 144, 32, 0.9); /* Semi-transparent black */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 0.3s ease;
  animation: slideDown 0.5s ease-out;
  z-index: 5000;
}

#hint-content {
  text-align: left;
  margin-left: 20px;
  color: #282828;
  font-size: 25px;
  font-family: 'JMH Typewriter', sans-serif;
  font-weight: 400;
}

#hint.hidden {
  opacity: 0;
  pointer-events: none;
  animation: none;
}

#hint-content p {
  margin-bottom: 20px; /* Adjust this value as needed */
}

.highlight_hint {
  font-weight: 700;
  text-decoration: underline;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/****************************/

/* SUPPPORT BUTTON */
.support-button {
  position: absolute;
  top: 10px; 
  left: 10px; 
  z-index: 2;

  height: 10px;
  padding: 15px 10px;
  border: 3px solid #397488;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(245, 213, 0);
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #397488;
  z-index: 5001;  

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  /* &:hover {
    box-shadow: 0 0 40px 40px #397488 inset;
  } */
}

#curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(245, 213, 0, 0.95);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 0.3s ease;
  animation: slideDown 0.5s ease-out;
  z-index: 5000;  
}


#curtain-content {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: #000000;
  font-size: 20px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#curtain.hidden {
  opacity: 0;
  pointer-events: none;
  animation: none;
}

#curtain-mistake {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  background-color: rgba(245, 49, 0, 0.9);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 0.3s ease;
  animation: slideDown 0.5s ease-out;
  z-index: 5000;  
}


#curtain-content {
  text-align: left;
  margin-left: 20px;
  color: #000000;
  font-size: 20px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#curtain-mistake.hidden {
  opacity: 0;
  pointer-events: none;
  animation: none;
}

#blur {
  filter: blur(100px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  margin-bottom: 20px; /* Adjust this value as needed */
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/****************************/

/* MENU BUTTON */
body {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 238, 186);
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  background-size: cover;
  background-position: center;
  background-size: 100%;
}

.menu h1 {
  margin-bottom: 50px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-align: center;
  color: #397488;
}

.menu button {
  display: inline-block;
  background-color: rgba(245, 213, 0);
  padding: 15px 40px;
  border: none;
  border-radius: 30px;

  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #397488;

  box-shadow: 0 3px 0 #397488;
  cursor: pointer;
  transition: all 100ms linear;
  
  /* &:hover {
      transform: translateY(-4px);
      box-shadow: 0 7px 0 #397488;
  } */

  &:focus { outline: 0; }
}

.highlight {
  font-weight: 700;
}
/******************************/
