
.navbar {
  visibility: hidden;
}

.support-button {
  position: absolute;
  top: 20px; 
  left: 20px; 
  z-index: 2;

  height: 20px;
  padding: 30px 20px;
  border: 6px solid #397488;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(245, 213, 0);
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #397488;
  z-index: 5001;  

  transition: box-shadow 600ms ease-in-out, color 600ms ease-in-out;
}


  #curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-color: rgba(245, 213, 0, 0.95);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.3s ease;
    animation: slideDown 0.5s ease-out;
    z-index: 5000;  
  }
  
  
  #curtain-content {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    font-size: 30px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #curtain.hidden {
    opacity: 0;
    pointer-events: none;
    animation: none;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(59, 150, 150, 0.825);
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    background-size: cover;
    background-position: center;
    background-size: 100%;
  }
  
  .menu h1 {
    margin-bottom: 50px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-align: center;
    color: #397488;
  }
  
  .menu button {
    display: inline-block;
    background-color: rgba(245, 213, 0);
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
  
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #397488;
  
    box-shadow: 0 3px 0 #397488;
    cursor: pointer;
    transition: all 100ms linear;
  
    &:focus { outline: 0; }
  }

  .highlight {
    font-weight: 700;
  }


  #successCurtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-color: rgba(7, 155, 17, 0.95);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.3s ease;
    animation: slideDown 0.5s ease-out;
    z-index: 5000;  
  }

  #successCurtain-content {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    font-size: 20px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #successCurtain.hidden {
    opacity: 0;
    pointer-events: none;
    animation: none;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(23, 144, 25, 0.825);
    background-size: cover;
    background-position: center;
    background-size: 100%;
  }
  
  .end h1 {
    margin-bottom: 50px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-align: center;
    color: #eff4f6;
  }

  @-webkit-keyframes roll {
    from { -webkit-transform: rotate(0deg) }
    to   { -webkit-transform: rotate(360deg) }
    }
    
    @-moz-keyframes roll {
    from { -moz-transform: rotate(0deg) }
    to   { -moz-transform: rotate(360deg) }
    }
    
    @keyframes roll {
    from { transform: rotate(0deg) }
    to   { transform: rotate(360deg) }
    }
    
    .roll {
    -moz-animation-name: roll;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 3;
    -webkit-animation-name: roll;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 3;
    }
